:root {
  --app-bg: #FFFFFF;
  --app-text: #212121;
}

:root[data-theme='dark'] {
  --app-bg: #121212;
  --app-text: #ABB5BD;
}

body {
  background: var(--app-bg);
  color: var(--app-text);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
