:root {
  --app-bg: #FFFFFF;
  --app-text: #212121;
}

:root[data-theme='dark'] {
  --app-bg: #121212;
  --app-text: #ABB5BD;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--app-bg);
  color: var(--app-text);
  margin: 0;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}
